.container {
  width: 15rem !important;
  height: 15rem;
  background-color: white;
}

.App {
  text-align: center;
}
.title {
  font-size: 15px;
  color: red;
}

.content {
  padding: 20px;
}

.btn-minus {
  padding: 10px;
  background-color: red;
  
}

.hasil {
  padding: 10px;
}

.btn-plus {
  padding: 10px;
  background-color: aqua;
} 
